---
# full css
---
$base-font: 'Source Sans Pro', Verdana, Arial, Dotum, sans-serif;
$code-font: Menlo, Monaco, monospace;

$base-font-size: 18px;
$base-font-size-sm: 14px;
$mobile-font-size: 16px;

$li-bottom-space: 0.8em;
$li-bullets-width: 1.7em;
$li-line-height: 1.55;

$ul-bullets-font: inherit;
$ul-bullets-font-size: 1.2em;
$ul-bullets-font-line-height: 1.2;
$ul-bullets-right-space: 0.65em;

$ol-bullets-font: inherit;
$ol-bullets-font-size: 1em;
$ol-bullets-font-line-height: inherit;
$ol-bullets-right-space: 0.65em;

$li-child-size-ratio: 0.95;

$dt-width: 180px;
$dt-dd-space: 20px;
$dd-position: $dt-width+$dt-dd-space;

@import 
    "colors",
    "base",
    "layout"
;