<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta http-equiv="Content-Language" content="en-us" >
  <meta name="author" content="{{ site.author }}" >
  <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ", " }}{% else %}{{ site.keywords }}{% endif %}" >
  <meta name="description" content="{{ site.description }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | absolute_url }}">

  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}" />
  <meta property="og:description" content="{% if page.tags %}Note about {{ page.tags | join: ", " | escape }}{% endif %} from _drafts, {{ site.description }}" />
  <meta property="og:type" content="article" />
  <meta property="article:author" content="Evan Will" />
  <meta property="og:image" content="{{ "assets/drafts.jpg" | absolute_url }}" />
  {% if page.tags %}{% for t in page.tags %}<meta property="article:tag" content="{{ t | escape }}" />{% endfor %}{% endif %}
  {% if page.date %}<meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}" />{% endif %}
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:locale" content="en_US" />
  <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebPage","headline":"{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}","author":{"@type":"Person","name":"{{ site.author }}", "sameAs": "https://github.com/{{ site.github_username }}"},"description":"{% if page.tags %}Note about {{ page.tags | join: ", " | escape }}{% endif %} from _drafts, {{ site.description }}","url":"{{ page.url | absolute_url }}"}</script> 
  
  <link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}" type="text/css">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ "/feed.xml" | absolute_url }}" />

  {% include google-analytics.html %}

</head>
