/* add styles for abcjs editor components */
.abcjs-inline-midi {
    height: 30px;
}
.embed {
    width: 100%;
    margin: 1rem auto 1rem;
    border-bottom: solid 1px #eee;
    padding: 6px;
}
.abc-rendered {
    width: 100%;
    height: auto;
    overflow-x: scroll;
}
.abc-text {
    margin-top: 5px;
    width: 100%;
    background-color:#e6e6e6;
}
.abc-rendered svg {
    max-width: 100%;
}
.abc-warnings {
    color: red;
}
#playground {
    margin: 0 auto 15px;
    width: 95%;
}
#quickref {
  display: none;
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  margin: auto;
}
#abc-text {
    display: none;
}