.container {
  max-width: 48rem;
  margin-left:  auto;
  margin-right: auto;
  border-top: 3px solid $oc-gray-6;
  @media (max-width: 48rem){
    //padding: 0 2rem 1.3rem;
  }
}

/* Header */
.header {
  padding: 1rem 1rem 0 1rem;
  border-bottom: 1px solid $oc-gray-6;
}
.header-title {
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 700;
    border:none;
    float:left;
    padding: 0;
    margin: .25rem 0;
    a {
      color: $base-color;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $background-over-color;
      }
    }
}
.header-nav {
    float:right;
    a {
      color: $oc-gray-7;
      text-transform: lowercase;
      margin-right: .3rem;
      font-size: 20px;
      &:hover,
      &:focus {
        color: $oc-gray-7;
        text-decoration: none;
        background-color: $background-over-color;
      }
    }
}
/* content */
.content {
  padding: 1rem 1rem 1rem 1rem;
}
.page {
  &-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
  }
}
.post {
  &-title {
    margin-top: 0rem;
    margin-bottom: 0.3rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
  }

  &-date {
    margin-bottom: .5rem;
    color: $oc-gray-8;
    font-size: .75rem;
    text-transform: uppercase;
  }

   &-tag {
    margin-bottom: 1.5rem;

    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: .75rem;
        font-weight: 300;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }
      }
    }
  }
}

/* 
.list {
  &-post {
    padding: 4% 2%;
    
    &:hover {
      background-color: $background-over-color;
      border-color: transparent;
      border-radius: 10px;
    }

    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-title {
      margin-bottom: .3rem;
      font-size : 1.8rem;
      font-weight: 600;
    }

    &-date {
      color: $base-lighten-color;
      font-size: .8rem;
      text-transform: uppercase;
    }

    &-desc {
      color: $base-color;
      margin-bottom: .25rem;
      font-size :1rem;
    }
  }

  &-pagination {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // text-transform: lowercase;

    &-previous {
      float: left;
      padding-left: 2%;
      a {
        color: $oc-gray-6;

        &:hover,
        &:focus {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }

    &-next {
      float: right;
      padding-right: 2%;
      a {
        color: $oc-gray-6;

        &:hover {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }
  }
}
*/

/* Tags */
.tag {
  &-index {
    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: 0.8rem;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }

          .count {
            background-color: $oc-gray-7;
            border-radius: 0 3px 3px 0;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }
      }
    }
  }

  &-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: lowercase;
    padding: 1rem 0;
  }

  &-post {
    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &:hover {
      color: $base-color;
      text-decoration: none;
      background-color: $background-over-color;
      border-color: transparent;
      }
  }
}

/* index browse */
.search {
  background-color: $background-color;
  border: solid 1px $text-color;
  border-radius: 2px;
  font-size: 20px;
}
.browse {
  margin-bottom: 1rem;
}
.archive {
  &-list {
    &-post {
      padding: 0.1rem;

      &:hover {
          background-color: $background-over-color;
          border-color: transparent;
      }
      ul { list-style-type: none; }

      a {
        color: $base-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      &-title {
        font-size : 1.2rem;
        font-weight: 400;
      }

      &-date {
        color: $base-lighten-color;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
  }
}
.buttons {
  cursor: pointer;
  background-color: $code-background-color;
  border: solid 1px $text-color;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 5px;
  &:focus {
    outline:none;
  }  
}
.sort { 
  cursor: pointer;
  background-color: $background-color;
  border: solid 1px $text-color;
  border-radius: 2px;
  font-size: 20px;
  color: $oc-gray-7;
  margin-top: 5px;
  &:focus {
    outline:none;
  }
  &:after {
    display:inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
  }
  &.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    content:"";
    position: relative;
    top:4px;
    right:-5px;
  }
  &.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    content:"";
    position: relative;
    top:-4px;
    right:-5px;
  }
}
/* Footer */
.footer {
  text-align: center;
  font-size: .85rem;
  border-top: 1px solid $oc-gray-6;
  padding: 1rem 0 1.25rem;
  &-link {
    color: $base-color;
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $background-over-color;
    }
  }
}